.question {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.question-content { 
    grid-template-columns: 20% 80%;
    width: 70%;
    padding: 2rem;
    background-color: var(--clr-bg-light);
    border-radius: 10px;
    gap: 1rem;
}

.input-frame { 
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.question-input {
    width: 100%;
}

.input-desc {
    resize: none;
    height: 15rem;
    padding: 0.5rem;
}

.question-header {
    width: fit-content;
    border-radius: 10px 10px 0 0;
    background-color: var(--clr-primary);
    color: var(--clr-bg);
    padding: 0.5rem 1.5rem;
}

.question-input-label {
    padding: 0.5rem;
}

.submit-question {
    grid-column: span 2;
}

.submit-question-btn {
    position: relative;
    background-color: var(--clr-primary);
    font-weight: bold;
    width: 100%;
}