#call-frame {
    width: 70%;
    position: relative;
    flex-shrink: 0;
}

#chat-frame {
    flex-grow: 1;
}

.video-player {
    background-color: var(--clr-bg);
    margin: 0;
}

#user-1 {
    width: 30rem;
    height: 15rem;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    background-color: var(--clr-bg-lighter);
    transform: scale(-1, 1);
}

#user-2 {
    height: 100%;
    flex-grow: 1;
    width: 100%;
    z-index: 0;
}

.chat-history {
    padding: 2rem 0;
    flex-grow: 1;
    gap: 1.5rem;
}

.chat-frame {
    height: fit-content;
    gap: 0.5rem;
}

.chat-others {
    padding-left: 1rem;
    padding-right: 1.5rem;
}

.chat-self {
    justify-content: end;
    padding-left: 1.5rem;
    padding-right: 1rem;
}

.chat-profile {
    flex-shrink: 0;
    top: calc(50% - 1.25rem);
    background-color: var(--clr-bg);
    border: 3px solid var(--clr-secondary);
    width: 2.5rem;
    height: 2.5rem;
    overflow: hidden;
    border-radius: 100%;
}

.chat-img {
    width: 100%;
}

.chat-content {
    color: var(--clr-bg);
    font-size: 0.9rem;
    align-self: center;
    padding: 0.6rem;
    border-radius: 20px;
}

.chat-others>.chat-content {
    background-color: var(--clr-secondary);
}

.chat-self>.chat-content {
    background-color: var(--clr-primary);
}