.post {
    width: 100%;
    justify-content: start;
    align-items: start;
}

.post .content .content-title {
    width: fit-content;
    border-radius: 10px 10px 0 0;
    background-color: var(--clr-primary);
    color: var(--clr-bg);
    padding: 0.5rem 1.5rem;
}

.post .content .content-desc {
    width: fit-content;
    border-radius: 0 10px 10px 10px;
    background-color: var(--clr-bg-light);
    color: var(--clr-secondary);
    padding: 2rem;
}

.post .comment {
    padding: 0.2rem 1rem;
    font-size: 0.75rem;
    background-color: var(--clr-secondary);
    color: var(--clr-bg);
    border-radius: 0 5px 5px 5px ;
    align-items: center;
}

.comment-input {
    height: 1rem !important;
    border: 0 !important;
    font-size: 0.75rem;
}

.comment-input:focus {
    border: 0 !important;
    outline: 0;
}

.post .content .content-desc{
    border-radius: 0 5px 5px 0 !important;
}

.post .content .author {
    margin-bottom: 0.2rem;
}