.result {
    background-color: var(--clr-bg-light);
    padding: 2rem;
    border-radius: 10px;
    transition: filter 0.3s;
}

.result:hover {
    filter: brightness(1.3);
}

.img-result {
    height: 100px;
    width: 100px;
    margin-right: 1rem;
}

.answerer-details {
    justify-content: center;
}